
    <!-- footer section copied to file for ejs-->
<footer class="page-footer">

  <div class="row">
  
    <div class="footer-content l5 s12">
      <h5 class="footer-h5 h-shadow-w">Unleash the Fun with Us!</h5>
    
      <p class=" h-shadow-w footer-p">
        We're thrilled to be a part of your parenting journey, helping you create magical 
        moments with your little ones. Remember, the bond you share and the memories you 
        make are the building blocks of a happy childhood. Together, let's make every day an adventure!
      </p>
    </div>
        
    <div class="l7 s12 footer-links">
    
      <h5 class="footer-h5 center h-shadow-w">Links</h5>
        
      <ul class="footer-ul">
          
        <li class="footer-a">
          <a class="" href="/">
            <span class="material-icons">home</span>
          </a>
        </li>
        
        <li class="footer-a">
          <a class="" href="/auth/login">
            <span class="material-icons">login</span>
          </a>
        </li>
        
        <li class="footer-a">
          <a class="" href="/activities/activities">
            <span class="material-icons">rocket_launch</span>
          </a>
        </li>
        
        <li class="footer-a">
          <a class="" href="/activities/create">
            <span class="material-icons">addchart</span>
          </a>
        </li>
        
        <li class="large footer-a">
          <a class="" href="about-us">
            <span class="material-icons">contact_support</span>
          </a>
        </li>
        
        <li class="large footer-a">
          <a class="" href="/auth/logout">
            <span class="material-icons">logout</span>
          </a>
        </li>
      </ul>
    
    </div>
    
  </div>

  
  
  <div class="h-shadow-w footer-copyright2 ">
    © Copyright Homebound Explorers 2023 
  </div>

</footer>  
  
