<nav id="nav-bar" class="nav-bar">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li id="Home"><a class="h-shadow-w" href="/">Home</a></li>
        <li id="profile"><a class="h-shadow-w" href="/profile">Profile</a></li>
        <li id="new-activity"><a class="h-shadow-w" href="/activities/create">New Activity</a></li>
        <li id="activities"><a class="h-shadow-w" href="/activities/activities">Activities</a></li>
        <li id="articles"><a class="h-shadow-w" href="/articles">Articles</a></li>  
        <li id="about-us"><a class="h-shadow-w" href="/about-us">About us</a></li>
      </ul>
  </div>
</nav>
  
<ul class="sidenav" id="mobile-demo">
  <li id="Home"><a class="hoverable" href="/">Home</a></li>
  <li id="profile"><a class="hoverable" href="/profile">Profile</a></li>
  <li id="new-activity"><a class="hoverable" href="/activities/create">New Activity</a></li>
  <li id="activities"><a class="hoverable" href="/activities/activities">Activities</a></li>
  <li id="articles"><a class="hoverable" href="/articles">Articles</a></li>  
  <li id="about-us"><a class="hoverable" href="about-us">About us</a></li>
</ul>

<script src="../js/script.js"></script>