<%- include('../partials/head') %>
<%- include('../partials/navbar-home') %>

<div id="body-id" class="container">
    <header id="profile-id" class="profile-body">
        <h2>Add a new activity</h2>
    </header>

    <main class="new-activity">
        
        <form action="/activities/create" method="POST" enctype="multipart/form-data" class="form-new">
            
            <div class="input-field">
                <input name= "name" placeholder=" " id="name" type="text" class="validate">
                <label for="name">Name:</label>
            </div>

            <div class="input-field">
                <input name= "description" placeholder=" " id="description" type="text" class="validate">
                <label for="description">Description:</label>
            </div>

            
        <div>    
            <label> Duration in minutes:
                <select name="duration" id="duration">
                    <option value="5">5</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="60">60</option>
                </select>
            </label>
        </div>

        <div>     
            <label> Age:
                <select name="age" id="age" multiple>
                    <option value="0-1">0-1 A単os</option>
                    <option value="1-2">1-2 A単os</option>
                    <option value="3-4">3-4 A単os</option>
                    <option value="5-6">5-6 A単os</option>
                </select>
            </label>
        </div>

        <div class="input-field">
            <input name="materials" type="text" placeholder=" ">
            <label for="materials">Materials:</label>
        </div>

        <div class="input-field">
            <input  name="skills" type="text" placeholder=" ">
            <label for="skills">Skills:</label>
        </div>
        
        <div class="input-field">
            <input name="steps" type="text" placeholder=" ">
            <label for="steps"> Steps:</label>
        </div>
        
        <div>
            <label> Image:
                <input type="file" name="imageUrl" accept="image/png, image/jpg" />
            </label>
        </div>

        <div>
            <button type="submit">Create</button>
        </div>

    </form>
    </div>
  </main>
</div>



     
    
  


<footer class="page-footer">
  <%- include('../partials/footer') %>
</footer>