<%- include('./partials/head') %>

<%- include('./partials/navbar-profile')%>

<div class="page-container">

  <div class="tittle-div z-depth-2">
    <header id="profile-id" class="tittle-div center">
      <h1 class="body-main-h2 h-shadow-w">Welcome Homebound Explorers!</h1>
    </header>
  </div>
  
  <h2 class="body-main-h2 h-shadow-b">Get to know us!</h2>
  
  <section>
    
    <p class=" h-shadow-b flow-text home-p">
      Homebound Explorers is a convenient and user-friendly mobile app specifically designed to assist busy parents and caregivers
      in providing engaging and age-appropriate activities for their children, right at their fingertips. The app offers a diverse
      range of creative and educational activities suitable for indoor and outdoor settings, making it a reliable companion for parents
      looking to inspire their children's learning and play experiences while managing their busy schedules.
    </p>
    <p class=" h-shadow-b flow-text home-p">
      The ultimate destination for all the playful parents out there, ready to embark on incredible adventures
      with their little ones. Say goodbye to endless scrolling and tedious searches for kid-friendly activities. We've got you covered!
      With Homebound Explorers, you can add your kiddos to your profile, allowing us to tailor the perfect activities based on their age,
      the time you have, and the materials you already have at home.
    </p>
    <p class=" h-shadow-b flow-text home-p">
      Get ready for laughter, learning, and quality time like never before!
    </p>
    <p class=" h-shadow-b flow-text home-p">
      We understand that being a parent is a joyous yet challenging ride, filled with endless creativity and a touch of chaos.
      That's why we've created a whimsical wonderland where you can discover exciting activities that will ignite your child's
      imagination and bring smiles to their faces. Whether you're looking to build a cardboard castle, bake delectable cookies, or
      create wacky science experiments, our personalized suggestions will make every moment count. So, jump on board and let
      idConnect be your trusty companion in making memories that will last a lifetime! Get ready to unlock a world of fun, right at your fingertips.
    </p>
  </section>




</div>



<%- include('./partials/footer') %>