<!-- Home page nav-bar  -->
<nav id="nav-bar" class="nav-bar">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li id="Home"><a href="/">Home</a></li>
          <li id="log-in"><a href="/auth/login">Login</a></li>
          <li id="sign-in"><a href="/auth/signup">Sign up</a></li>
          <li id="about-us"><a href="about-us">About us</a></li>
        </ul>
      </div>
    </nav>

<!-- Profile/loggedIn page nav-bar  -->
<nav id="nav-bar" class="nav-bar">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li id="Home"><a href="/">Home</a></li>
          <li><a href="/activities/activities">Activities</a></li>
          <li><a href="/activities/create">New Activity</a></li>
          <li id="about-us"><a href="about-us">About us</a></li>
      </ul>
    </div>
  </nav>