


<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col 4 s4">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis massa non elit elementum, non condimentum erat egestas. Duis vel elementum justo. Nam pretium volutpat mattis. Pellentesque ac tortor vehicula tellus ultrices tincidunt nec vel risus. Curabitur orci odio, feugiat in sollicitudin sed, suscipit ut eros. .</p>
        </div>
        <div class="col 7 offset-l2 s7">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Sign In</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2023 Copyright
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>