<%- include('./partials/head') %>
<%- include('./partials/navbar-home') %>      
         <!-- this is the home page partial-->
<body>

  <div class="body-wrapper">
    
          <div class="carousel-sizing">
            <div class="carousel carousel-slider">
              <a class="carousel-item" href="#one!"><img class="responsive-carousel-logo" src="./images/logo1-removebg-preview.png"></a>
              <a class="carousel-item" href="#one!"><img class="responsive-carousel" src="https://img.freepik.com/premium-photo/children-drawing-playing-carpet_23-2147797900.jpg?w=2000"></a>
              <a class="carousel-item" href="#two!"><img class="responsive-carousel" src="https://img.freepik.com/free-photo/high-angle-boy-playing-home_23-2150286117.jpg?w=1060&t=st=1689922614~exp=1689923214~hmac=7dd9eaebc2ca3401481f1ca1c0e9a2c3591b4319df44a51054d3db468bb7723e"></a>
              <a class="carousel-item" href="#three!"><img class="responsive-carousel" src="https://hips.hearstapps.com/hmg-prod/images/learning-activities-for-kids-coding-a-lego-maze-square-research-parent-1590072010.jpg?crop=1xw:1xh;center,top&resize=980:*"></a>
              <a class="carousel-item" href="#four!"><img class="responsive-carousel" src="https://hips.hearstapps.com/hmg-prod/images/learning-activities-for-kids-pasta-world-map-1590073873.jpg?crop=1xw:0.9431345353675451xh;center,top&resize=980:*"></a>
            </div>
          </div>  

      <div id="body-id" class="body-main-home">
        <!--
        <img class="img-home" src="./images/logo1-removebg-preview.png" >
        -->
        <article  >
          
          <h2 class="h-shadow-b ">Homebound Explorers</h2>
            <h2 class="h-shadow-b ">Igniting Learning and Adventure</h2>
              <p class=" h-shadow-b flow-text home-p ">
                Homebound Explorers is the perfect solution for busy parents seeking to create meaningful moments of learning, creativity, and fun
                with their children, both indoors and outdoors. 
              </p>  
              <p class=" h-shadow-b flow-text home-p ">  
                With its user-friendly interface, personalized recommendations, and time-saving 
                features, the app empowers parents to be confident explorers alongside their children, fostering a strong bond and memorable 
                experiences within the comforts of their home and beyond. Start your exploration journey with Homebound Explorers today!
              </p>
                
              <p class=" h-shadow-b flow-text home-p ">  
                Discover engaging activities that captivate curious minds and foster a love for learning, tailored to every age group. 
                From toddlers to big kids, our diverse range of educational adventures will inspire and delight. 
                Whether you use household items or plan ahead with supplies, each experience is an opportunity to 
                share joyous moments of discovery with your children.
              </p>
              <p class=" h-shadow-b flow-text home-p ">  
                Let the magic of exploration unfold as you embark 
                on unforgettable journeys, igniting their imaginations and creating cherished memories together.
              </p>
              
          </article>

        <div id="home-separator2"></div>

      </div>

      <%- include('./partials/footer') %>

  </div>

      <%- include('./partials/scripts') %>
    
</body>

    
      