<%- include('./partials/head') %>
<%- include('./partials/navbar-home') %>      
         <!-- this is the home page partial-->
<body>

  <div class="body-wrapper">

      <div id="body-id" class="body-main">

        <div id="home-separator1"></div>

          <article>

            <h2 class="h-shadow-b container">Igniting Learning and Adventure</h2>
              <p class=" h-shadow-b flow-text home-p container">
                Discover engaging activities that captivate curious minds and foster a love for learning, tailored to every age group. 
                From toddlers to big kids, our diverse range of educational adventures will inspire and delight. 
                Whether you use household items or plan ahead with supplies, each experience is an opportunity to 
                share joyous moments of discovery with your children.
                <br><br> 
                Let the magic of exploration unfold as you embark 
                on unforgettable journeys, igniting their imaginations and creating cherished memories together.
              </p>
              
          </article>

        <div id="home-separator2"></div>

      </div>

      <%- include('./partials/footer') %>

  </div>

      <%- include('./partials/scripts') %>

 
    
</body>

    
      