<%- include('./partials/head') %>
  

    <!-- navbar section copied to file for ejs-->
    <%- include('./partials/navbar') %>      
          
          <div id="body-id" class="body-main container">  
        <section>
          <h1>Header 1</h1>
    
          <h2>Header 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex nibh, porttitor id condimentum ut, imperdiet sit amet tellus. Sed tempus sed est vel efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan condimentum sapien, eu consequat magna imperdiet vitae. Proin gravida lacus eget feugiat rutrum. Duis sed ante a odio lobortis lacinia. Morbi placerat, risus nec lobortis interdum, nulla tellus varius tellus, nec tincidunt ante massa a nisi. Integer ullamcorper tellus id dolor faucibus, malesuada lobortis metus tincidunt. Sed pretium magna ac metus laoreet aliquet. Vivamus euismod tristique sollicitudin. Suspendisse finibus tellus id eros posuere, et pharetra diam placerat. Etiam commodo maximus diam eget mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
          </p>
        </section>
    
        <article>
          <h2>Header 2 - Activities Article</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex nibh, porttitor id condimentum ut, imperdiet sit amet tellus. Sed tempus sed est vel efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan condimentum sapien, eu consequat magna imperdiet vitae. Proin gravida lacus eget feugiat rutrum. Duis sed ante a odio lobortis lacinia. Morbi placerat, risus nec lobortis interdum, nulla tellus varius tellus, nec tincidunt ante massa a nisi. Integer ullamcorper tellus id dolor faucibus, malesuada lobortis metus tincidunt. Sed pretium magna ac metus laoreet aliquet. Vivamus euismod tristique sollicitudin. Suspendisse finibus tellus id eros posuere, et pharetra diam placerat. Etiam commodo maximus diam eget mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
          </p>
        </article>
      
      </div>
      <%- include('./partials/footer') %>

      
      