<%- include('./partials/head') %>
<%- include('./partials/navbar-home') %>      
         <!-- this is the home page partial-->
<body>

  <div class="body-wrapper">

    <div id="body-id" class="body-main">
      <section>
        <h1 class="center-align">Welcome Homebound Explorers!</h1>
        <h2 class="center-align">Get to know us!</h2>
        <p class="flow-text home-p container">
          Welcome to KidConnect! The ultimate destination for all the playful parents out there, ready to embark on incredible adventures 
          with their little ones. Say goodbye to endless scrolling and tedious searches for kid-friendly activities. We've got you covered!
          With KidConnect, you can add your kiddos to your profile, allowing us to tailor the perfect activities based on their age, 
          the time you have, and the materials you already have at home.
          <br><br>
          Get ready for laughter, learning, and quality time like never before!
          <br><br>
          W understand that being a parent is a joyous yet challenging ride, filled with endless creativity and a touch of chaos. 
          That's why we've created a whimsical wonderland where you can discover exciting activities that will ignite your child's 
          imagination and bring smiles to their faces. Whether you're looking to build a cardboard castle, bake delectable cookies, or
          create wacky science experiments, our personalized suggestions will make every moment count. So, jump on board and let 
          idConnect be your trusty companion in making memories that will last a lifetime! Get ready to unlock a world of fun, right at your fingertips.
          </p>
      </section>

      <div id="home-separator1"></div>

      <article>
        <h2 class=" container">Igniting Learning and Adventure</h2>
        <p class="flow-text home-p container">
          Discover engaging activities that captivate curious minds and foster a love for learning, tailored to every age group. 
          From toddlers to big kids, our diverse range of educational adventures will inspire and delight. 
          Whether you use household items or plan ahead with supplies, each experience is an opportunity to 
          share joyous moments of discovery with your children.<br><br> Let the magic of exploration unfold as you embark 
          on unforgettable journeys, igniting their imaginations and creating cherished memories together.
        </p>
      </article>

      <div id="home-separator2"></div>

    </div>

    <%- include('./partials/footer') %>

  </div>

  <%- include('./partials/scripts') %>

</body>

    
      