<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Akti-kids</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/materialize.css" type="text/css" media="screen,projection"/>
    <link rel="stylesheet" href="/stylesheets/materialize.css" type="text/css" media="screen,projection"/>
  </head>
  
  <body>

<!-- navbar section copied to file for ejs-->
    <nav id="nav-bar" class="nav-bar">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li id="Home"><a href="/">Home</a></li>
            <li id="log-in"><a href="/auth/login">Login</a></li>
            <li id="sign-in"><a href="/auth/signup">Sign up</a></li>
            <li id="about-us"><a href="about-us">About us</a></li>
          </ul>
        </div>
      </nav>
      
      <div id="body-id" class="body-main container">  
    <section>
      <h1>Header 1</h1>

      <h2>Header 2</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex nibh, porttitor id condimentum ut, imperdiet sit amet tellus. Sed tempus sed est vel efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan condimentum sapien, eu consequat magna imperdiet vitae. Proin gravida lacus eget feugiat rutrum. Duis sed ante a odio lobortis lacinia. Morbi placerat, risus nec lobortis interdum, nulla tellus varius tellus, nec tincidunt ante massa a nisi. Integer ullamcorper tellus id dolor faucibus, malesuada lobortis metus tincidunt. Sed pretium magna ac metus laoreet aliquet. Vivamus euismod tristique sollicitudin. Suspendisse finibus tellus id eros posuere, et pharetra diam placerat. Etiam commodo maximus diam eget mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      </p>
    </section>

    <article>
      <h2>Header 2 - Activities Article</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex nibh, porttitor id condimentum ut, imperdiet sit amet tellus. Sed tempus sed est vel efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan condimentum sapien, eu consequat magna imperdiet vitae. Proin gravida lacus eget feugiat rutrum. Duis sed ante a odio lobortis lacinia. Morbi placerat, risus nec lobortis interdum, nulla tellus varius tellus, nec tincidunt ante massa a nisi. Integer ullamcorper tellus id dolor faucibus, malesuada lobortis metus tincidunt. Sed pretium magna ac metus laoreet aliquet. Vivamus euismod tristique sollicitudin. Suspendisse finibus tellus id eros posuere, et pharetra diam placerat. Etiam commodo maximus diam eget mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      </p>
    </article>


  </div>
  </body>
  
<!-- footer section copied to file for ejs-->
  <footer class="page-footer">
      <div class="row">
        <div class="footer-content l6 s12">
          <h5 class="footer-h5">Footer Content</h5>
          <p>You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="l0 s6 footer-links">
          <h5 class="footer-h5">Links</h5>
          <ul class="footer-ul">
            <li class="footer-a"><a class="grey-text text-lighten-3" href="/">Home</a></li>
            <li class="footer-a"><a class="grey-text text-lighten-3" href="/auth/signup">Sign up</a></li>
            <li class="footer-a"><a class="grey-text text-lighten-3" href="/auth/login">Login</a></li>
            <li class="footer-a"><a class="grey-text text-lighten-3" href="about-us">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      © 2014 Copyright
    </div>
  </footer>
  
  <script src="/js/script.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  
</html>
