<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Akti-kids</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/materialize.css" type="text/css" media="screen,projection"/>
    <link rel="stylesheet" href="/stylesheets/materialize.css" type="text/css" media="screen,projection"/>
  </head>

  <body>
    <!-- <%- body %> -->

<!-- replace with .ejs version  -->
    <nav id="nav-bar" class="nav-bar">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li id="Home"><a href="Home">Home</a></li>
            <li id="sign-in"><a href="sign-in">Sign in</a></li>
            <li id="log-in"><a href="log-in">Log in</a></li>
            <li id="about-us"><a href="about-us">About us</a></li>
        </ul>
      </div>
    </nav>
    

  <div id="body-id" class="body-main container">  
    <section>
      <h1>Header 1</h1>

      <h2>Header 2</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex nibh, porttitor id condimentum ut, imperdiet sit amet tellus. Sed tempus sed est vel efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan condimentum sapien, eu consequat magna imperdiet vitae. Proin gravida lacus eget feugiat rutrum. Duis sed ante a odio lobortis lacinia. Morbi placerat, risus nec lobortis interdum, nulla tellus varius tellus, nec tincidunt ante massa a nisi. Integer ullamcorper tellus id dolor faucibus, malesuada lobortis metus tincidunt. Sed pretium magna ac metus laoreet aliquet. Vivamus euismod tristique sollicitudin. Suspendisse finibus tellus id eros posuere, et pharetra diam placerat. Etiam commodo maximus diam eget mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      </p>
    </section>

    <article>
      <h2>Header 2 - Activities Article</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex nibh, porttitor id condimentum ut, imperdiet sit amet tellus. Sed tempus sed est vel efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan condimentum sapien, eu consequat magna imperdiet vitae. Proin gravida lacus eget feugiat rutrum. Duis sed ante a odio lobortis lacinia. Morbi placerat, risus nec lobortis interdum, nulla tellus varius tellus, nec tincidunt ante massa a nisi. Integer ullamcorper tellus id dolor faucibus, malesuada lobortis metus tincidunt. Sed pretium magna ac metus laoreet aliquet. Vivamus euismod tristique sollicitudin. Suspendisse finibus tellus id eros posuere, et pharetra diam placerat. Etiam commodo maximus diam eget mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      </p>
    </article>


  </div>

<!-- replace with .ejs version  -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col 7 s4">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis massa non elit elementum, non condimentum erat egestas.</p>
          </div>
          <div class="col 7  s7">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Sign In</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2023 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  
  

    <script src="/js/script.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
