

<nav id="nav-bar" class="nav-bar">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li id="Home"><a href="Home">Home</a></li>
          <li id="sign-in"><a href="sign-in">Sign in</a></li>
          <li id="log-in"><a href="log-in">Log in</a></li>
          <li id="about-us"><a href="about-us">About us</a></li>
      </ul>
    </div>
  </nav>