<%- include('./partials/head') %>
<%- include('./partials/navbar-home') %> 
 
<header id="profile-id" class="profile-body" >
    <h1>Profile of <%= user.name %></h1>
</header>

<main>








</main>

<footer class="page-footer">
    <%- include('./partials/footer') %>
</footer>
