<%- include('./partials/head') %>
<%- include('./partials/navbar-profile') %>

<div class="page-container">

  <div class="tittle-div z-depth-2">
    <header id="profile-id" class="tittle-div center">
      <h2 class="body-main-h2 h-shadow-w">Update your profile</h2>
    </header>
  </div>

  <div class="title-center">
    <div class="kid-add-card-pannel form-card">
      <main class="new-activity  ">
        <form action="/<%- user._id%>/update" method="POST">
          
          <div class="input-field checkbox-form">
            <input id="name" type="text" name="name" placeholder=" " class="validate" required>
            <label for="name">Name</label>
          </div>
          <div class="input-field checkbox-form">
            <input id="password" type="password" name="password" placeholder=" " class="validate" required>
            <label for="name">Password</label>
          </div>
          
          <div class="button-center checkbox-form">
            <button class="btn waves-effect waves-light" type="submit">Update
              <i class="material-icons right">send</i>
            </button>
        </form>
      </main> 
    </div>
    
  </div>
  
</div>

<footer class="page-footer">
  <%- include('./partials/footer') %>
</footer>