@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
html,
body
  {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  
} 

.body-main {
  margin-top: 100px ;
  padding: 0 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: Roboto Condensed;
   z-index:1;
} 
h1 {
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
     margin-top: 43px;
}
h2 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 4em;
}
h3 {
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
}
h4 {
    font-size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
}
h5 {
    font-size: 1.2em;
    line-height: 1em;
} 
p {
  text-justify: distribute;
}
nav {
  overflow: visible !important;
}
.nav-bar {
   
    width: 100%;
    position: fixed;
    top: 0;
    z-index:3;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-copyright {
  font-size: small;
}

.footer-content  {
  padding-left: 35px;
}
.footer-links {
  padding-right: 35px;
}
.footer-ul {
  display: flex;
  justify-content: space-between;
}
.footer-h5 {
  padding: 0;
}
#general-information {
  display: flex;
  justify-content: space-evenly;
  height: 280px;
  }
.profile-body {
  margin-top: 100px ;
  padding: 0 20px;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}


fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}
/*
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
*/
input, textarea {
  background-color: #F3F6FC;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.image-field {
  margin-top: 5px;
}

.field-bottom {
  margin-top: 30px;
}

.drop-down-bottom {
  border-bottom: 1px solid #0a0a23;
  padding-bottom: 10px;
}
.label-bottom {
  padding-left: 15px;
  font-size: medium;
}

.choose-div {
  margin-top: 20px;
}
.button-center {
  display:flex;
  margin-top: 30px;
  justify-content: center;
}